ros_ws/st4_ws/devel/
ros_ws/st4_ws/build/
ros_ws/st4_ws/.catkin_tools/
ros_ws/st4_ws/logs/

ros_ws/turntable/devel/
ros_ws/turntable/build/
ros_ws/turntable/.catkin_tools/
ros_ws/turntable/logs/
*.log
*.log
