ros_ws/st4_ws/devel/
ros_ws/st4_ws/build/
ros_ws/st4_ws/.catkin_tools/
ros_ws/st4_ws/logs/

ros_ws/turntable/devel/
ros_ws/turntable/build/
ros_ws/turntable/.catkin_tools/
ros_ws/turntable/logs/
*.log
*.log
*.log
*.log
*.log
*.log
ros_ws/st4_ws/logs/descartes_capability/build.make.log
ros_ws/st4_ws/logs/descartes_moveit/build.make.log
ros_ws/st4_ws/logs/descartes_planner/build.make.log
ros_ws/st4_ws/logs/descartes_tests/build.make.log
ros_ws/st4_ws/logs/descartes_utilities/build.make.log
ros_ws/st4_ws/logs/simple_message/build.make.log
ros_ws/st4_ws/logs/descartes_capability/build.make.log
ros_ws/st4_ws/logs/descartes_moveit/build.make.log
ros_ws/st4_ws/logs/descartes_planner/build.make.log
ros_ws/st4_ws/logs/descartes_tests/build.make.log
ros_ws/st4_ws/logs/descartes_utilities/build.make.log
ros_ws/st4_ws/logs/simple_message/build.make.log
