<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find abb_resources)/urdf/common_materials.xacro"/>
  <xacro:macro name="adding_static_tool" params="prefix">

<!-- DEFINE ADDED LINKS -->
      <link name="${prefix}tool0">
    <inertial>
      <mass value="0.137"/>
      <origin xyz="0 0 6.22E-05" rpy="0 0 6.22E-05"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 6.22E-05" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb120_support/meshes/irb120_3_58/visual/wire_cutter.stl"/>
      </geometry>
      <xacro:material_abb_black />
    </visual>
    <collision>
      <origin xyz="0 0 6.22E-05" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://abb_irb120_support/meshes/irb120_3_58/collision/tool1_demo_collision.stl"/>
      </geometry>
      <xacro:material_abb_yellow />
    </collision>
  </link>
<!-- DUMMY LINKS -->
    <link name="${prefix}tcp"/>

<!-- DEFINE ADDED JOINTS -->
<joint name="${prefix}link_6-tool" type="fixed">
   <!--TODO: CHANGE SIZES AND LOCATION ACCORDING TO NEW TOOL-->
    <origin xyz="0.001 0 0" rpy="0 ${radians (90)} 0" />
  <parent link="${prefix}table_link" />
  <child link="${prefix}tool0" />
</joint>

<joint name="${prefix}tcp_joint" type="fixed">
   <origin xyz="0.05 0 0.30" rpy="0 0 0"/>

   <parent link="${prefix}tool0"/>
   <child link="${prefix}tcp"/>
 </joint>
    </xacro:macro>
</robot>

