<launch>


<param name="robot_description" textfile="$(find abb_irb120_support)/urdf/irb120_3_58.urdf"/>

<rosparam file="$(find abb_HW_interface)/config/abb_controllers.yaml" command="load"/>


<!-- Load hardware interface -->
<node name="abb_hw_main" pkg="abb_HW_interface" type="abb_hw_main" output="screen"/>
<param name="sim" value="true"/>
<include file="$(find abb_node)/launch/abb_tf.launch"/>






</launch>
