
<launch>

 <!-- RVIZ  -->

    <!-- Load the URDF to the parameter server -->
    <param name="robot_description" textfile="$(find abb_irb120_support)/urdf/irb120_3_58.urdf" />
    <!-- Load updated joint limits (override information from URDF) -->



 <!-- CORE  -->

  <!-- Load controller settings  -->
    <rosparam file="$(find abb_HW_interface)/config/abb_controllers.yaml" command="load"/>


    <!-- Load hardware interface -->
    <node name="abb_hw_main" pkg="abb_HW_interface" type="abb_hw_main" output="screen"/>
    <include file="$(find abb_node)/launch/abb_tf.launch"/>




    <!-- Load controller manager  -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn joint_state_controller position_trajectory_controller" />

    <!-- Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>



 <!-- MOVEIT -->



    <!-- Remap follow_joint_trajectory -->
    <remap from="/joint_trajectory_action" to="/position_trajectory_controller/follow_joint_trajectory"/>




</launch>
